## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import pandas as pd

2022-11-14 21:53:36.473799: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [4]:
application_df['IS_SUCCESSFUL'].value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
dropped_df = application_df.drop(['EIN', 'NAME'], axis = 1)
dropped_df.head(30)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,T3,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0
20,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
21,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
22,T3,Independent,C7000,Preservation,Trust,1,100000-499999,N,318296,0
23,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
24,T3,CompanySponsored,C1200,Preservation,Trust,1,0,N,5000,0
25,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
26,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
27,T3,CompanySponsored,C2000,Preservation,Trust,1,25000-99999,N,44004,1
28,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
29,T6,Independent,C2000,ProductDev,Trust,1,0,N,5000,1

In [6]:
# Find null values
for column in dropped_df.columns:
    print(f"Column {column} has {dropped_df[column].isnull().sum()} null values")

Column APPLICATION_TYPE has 0 null values
Column AFFILIATION has 0 null values
Column CLASSIFICATION has 0 null values
Column USE_CASE has 0 null values
Column ORGANIZATION has 0 null values
Column STATUS has 0 null values
Column INCOME_AMT has 0 null values
Column SPECIAL_CONSIDERATIONS has 0 null values
Column ASK_AMT has 0 null values
Column IS_SUCCESSFUL has 0 null values

In [7]:
# Find duplicate entries
print(f"Duplicate entries: {dropped_df.duplicated().sum()}")

Duplicate entries: 24677

In [8]:
# Determine the number of unique values in each column.
dropped_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
dropped_df.shape

(34299, 10)

In [10]:
dropped_df.describe()

             STATUS       ASK_AMT  IS_SUCCESSFUL
count  34299.000000  3.429900e+04   34299.000000
mean       0.999854  2.769199e+06       0.532406
std        0.012073  8.713045e+07       0.498956
min        0.000000  5.000000e+03       0.000000
25%        1.000000  5.000000e+03       0.000000
50%        1.000000  5.000000e+03       1.000000
75%        1.000000  7.742000e+03       1.000000
max        1.000000  8.597806e+09       1.000000

In [11]:
dropped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [12]:
# Look at APPLICATION_TYPE value counts for binning
val_counts = dropped_df['APPLICATION_TYPE'].value_counts()
val_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Transform APPLICATION_TYPE
def application_types_to_replace(application_type):
    if application_type == "T3":
        return 1
    else:
        return 0
    
# Along with replace() and map(), this is another way to encode the gender column into numbers.
dropped_df["APPLICATION_TYPE"] = dropped_df["APPLICATION_TYPE"].apply(application_types_to_replace)
dropped_df.head(20)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,0,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,1,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,0,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,1,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,1,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,1,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,1,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,1,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,0,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,0,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,1,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,1,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,1,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,1,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,1,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,1,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,1,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,1,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,1,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,1,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0

In [14]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(val_counts [val_counts < 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    dropped_df['APPLICATION_TYPE'] = dropped_df['APPLICATION_TYPE'].replace(app,"Other")

In [15]:
# Check to make sure binning was successful
dropped_df["APPLICATION_TYPE"].value_counts()

1    27037
0     7262
Name: APPLICATION_TYPE, dtype: int64

In [16]:
# Look at CLASSIFICATION value counts for binning
clssification_value_counts = dropped_df['CLASSIFICATION'].value_counts()
clssification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [17]:
# You may find it helpful to look at CLASSIFICATION value counts >1
clssification_value_counts[clssification_value_counts  > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [18]:
clssification_value_counts[clssification_value_counts  > 10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [19]:
clssification_value_counts[clssification_value_counts < 1000]

C7000    777
C1700    287
C4000    194
C5000    116
C1270    114
        ...
C4120      1
C8210      1
C2561      1
C4500      1
C2150      1
Name: CLASSIFICATION, Length: 66, dtype: int64

In [20]:
# Determine which values to replace if counts are leass than 10
clssification_to_replace = list(clssification_value_counts[clssification_value_counts > 10].index)

# Replace in dataframe
for cls in clssification_to_replace:
    dropped_df['CLASSIFICATION'] = dropped_df['CLASSIFICATION'].replace(cls,"Other")

In [21]:
# Check to make sure binning was successful
dropped_df['CLASSIFICATION'].value_counts()

Other    34181
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1257        5
C1600        5
C0           3
C2710        3
C1260        3
C3200        2
C1234        2
C1256        2
C1246        2
C1267        2
C2190        1
C4200        1
C6100        1
C5200        1
C1370        1
C2600        1
C1900        1
C1820        1
C1248        1
C1236        1
C1283        1
C2570        1
C1580        1
C3700        1
C2500        1
C1570        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [22]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(dropped_df)
dummies_df.head(30)

,APPLICATION_TYPE,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,108590,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,1,6692,1,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,1,142590,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
5,1,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1,1,31452,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
7,1,1,7508025,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
8,0,1,94389,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
9,0,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,1,1,69656,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
11,1,1,165593,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
12,1,1,5000,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13,1,1,5301,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14,1,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,1,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,1,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,1,1,86380556,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
18,1,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,1,1,376109,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
20,0,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21,1,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,1,1,318296,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
23,0,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,1,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,0,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,1,1,5000,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
27,1,1,44004,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
28,1,1,5000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
29,0,1,5000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [23]:
# Split our preprocessed data into our features and target arrays
X = dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = dummies_df["IS_SUCCESSFUL"].values
                    

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [24]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0]) 
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation ="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 600

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 651
Trainable params: 651
Non-trainable params: 0
_________________________________________________________________

2022-11-14 21:53:41.314255: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [26]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 869us/step - loss: 0.6693 - accuracy: 0.6355
Epoch 2/100
804/804 [==============================] - 1s 881us/step - loss: 0.6051 - accuracy: 0.6974
Epoch 3/100
804/804 [==============================] - 1s 829us/step - loss: 0.5997 - accuracy: 0.6988
Epoch 4/100
804/804 [==============================] - 1s 779us/step - loss: 0.5977 - accuracy: 0.6998
Epoch 5/100
804/804 [==============================] - 1s 923us/step - loss: 0.5969 - accuracy: 0.7002
Epoch 6/100
804/804 [==============================] - 1s 869us/step - loss: 0.5959 - accuracy: 0.7028
Epoch 7/100
804/804 [==============================] - 1s 781us/step - loss: 0.5950 - accuracy: 0.7041
Epoch 8/100
804/804 [==============================] - 1s 799us/step - loss: 0.5945 - accuracy: 0.7048
Epoch 9/100
804/804 [==============================] - 1s 851us/step - loss: 0.5943 - accuracy: 0.7050
Epoch 10/100
804/804 [==============================] - 1s 892us/step - loss: 0.5939 - accuracy: 0.7049
Epoch 11/100
804/804 [==============================] - 1s 903us/step - loss: 0.5937 - accuracy: 0.7055
Epoch 12/100
804/804 [==============================] - 1s 884us/step - loss: 0.5936 - accuracy: 0.7056
Epoch 13/100
804/804 [==============================] - 1s 896us/step - loss: 0.5934 - accuracy: 0.7054
Epoch 14/100
804/804 [==============================] - 1s 863us/step - loss: 0.5936 - accuracy: 0.7058
Epoch 15/100
804/804 [==============================] - 1s 888us/step - loss: 0.5936 - accuracy: 0.7050
Epoch 16/100
804/804 [==============================] - 1s 875us/step - loss: 0.5935 - accuracy: 0.7055
Epoch 17/100
804/804 [==============================] - 1s 835us/step - loss: 0.5933 - accuracy: 0.7058
Epoch 18/100
804/804 [==============================] - 1s 818us/step - loss: 0.5933 - accuracy: 0.7064
Epoch 19/100
804/804 [==============================] - 1s 788us/step - loss: 0.5933 - accuracy: 0.7060
Epoch 20/100
804/804 [==============================] - 1s 790us/step - loss: 0.5932 - accuracy: 0.7054
Epoch 21/100
804/804 [==============================] - 1s 792us/step - loss: 0.5931 - accuracy: 0.7067
Epoch 22/100
804/804 [==============================] - 1s 781us/step - loss: 0.5929 - accuracy: 0.7062
Epoch 23/100
804/804 [==============================] - 1s 809us/step - loss: 0.5931 - accuracy: 0.7061
Epoch 24/100
804/804 [==============================] - 1s 804us/step - loss: 0.5929 - accuracy: 0.7055
Epoch 25/100
804/804 [==============================] - 1s 858us/step - loss: 0.5928 - accuracy: 0.7068
Epoch 26/100
804/804 [==============================] - 1s 934us/step - loss: 0.5929 - accuracy: 0.7062
Epoch 27/100
804/804 [==============================] - 1s 818us/step - loss: 0.5928 - accuracy: 0.7069
Epoch 28/100
804/804 [==============================] - 1s 827us/step - loss: 0.5929 - accuracy: 0.7063
Epoch 29/100
804/804 [==============================] - 1s 846us/step - loss: 0.5929 - accuracy: 0.7060
Epoch 30/100
804/804 [==============================] - 1s 808us/step - loss: 0.5929 - accuracy: 0.7061
Epoch 31/100
804/804 [==============================] - 1s 797us/step - loss: 0.5929 - accuracy: 0.7067
Epoch 32/100
804/804 [==============================] - 1s 803us/step - loss: 0.5926 - accuracy: 0.7070
Epoch 33/100
804/804 [==============================] - 1s 803us/step - loss: 0.5927 - accuracy: 0.7059
Epoch 34/100
804/804 [==============================] - 1s 802us/step - loss: 0.5927 - accuracy: 0.7064
Epoch 35/100
804/804 [==============================] - 1s 803us/step - loss: 0.5926 - accuracy: 0.7067
Epoch 36/100
804/804 [==============================] - 1s 816us/step - loss: 0.5924 - accuracy: 0.7065
Epoch 37/100
804/804 [==============================] - 1s 804us/step - loss: 0.5925 - accuracy: 0.7068
Epoch 38/100
804/804 [==============================] - 1s 854us/step - loss: 0.5923 - accuracy: 0.7070
Epoch 39/100
804/804 [==============================] - 1s 901us/step - loss: 0.5923 - accuracy: 0.7068
Epoch 40/100
804/804 [==============================] - 1s 835us/step - loss: 0.5923 - accuracy: 0.7062
Epoch 41/100
804/804 [==============================] - 1s 806us/step - loss: 0.5924 - accuracy: 0.7066
Epoch 42/100
804/804 [==============================] - 1s 807us/step - loss: 0.5922 - accuracy: 0.7068
Epoch 43/100
804/804 [==============================] - 1s 838us/step - loss: 0.5921 - accuracy: 0.7069
Epoch 44/100
804/804 [==============================] - 1s 804us/step - loss: 0.5922 - accuracy: 0.7067
Epoch 45/100
804/804 [==============================] - 1s 803us/step - loss: 0.5920 - accuracy: 0.7064
Epoch 46/100
804/804 [==============================] - 1s 806us/step - loss: 0.5923 - accuracy: 0.7066
Epoch 47/100
804/804 [==============================] - 1s 807us/step - loss: 0.5921 - accuracy: 0.7065
Epoch 48/100
804/804 [==============================] - 1s 806us/step - loss: 0.5921 - accuracy: 0.7068
Epoch 49/100
804/804 [==============================] - 1s 870us/step - loss: 0.5921 - accuracy: 0.7067
Epoch 50/100
804/804 [==============================] - 1s 850us/step - loss: 0.5920 - accuracy: 0.7062
Epoch 51/100
804/804 [==============================] - 1s 834us/step - loss: 0.5919 - accuracy: 0.7070
Epoch 52/100
804/804 [==============================] - 1s 810us/step - loss: 0.5923 - accuracy: 0.7066
Epoch 53/100
804/804 [==============================] - 1s 813us/step - loss: 0.5920 - accuracy: 0.7067
Epoch 54/100
804/804 [==============================] - 1s 808us/step - loss: 0.5920 - accuracy: 0.7072
Epoch 55/100
804/804 [==============================] - 1s 887us/step - loss: 0.5921 - accuracy: 0.7065
Epoch 56/100
804/804 [==============================] - 1s 873us/step - loss: 0.5921 - accuracy: 0.7065
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5918 - accuracy: 0.7069
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5920 - accuracy: 0.7066
Epoch 59/100
804/804 [==============================] - 1s 943us/step - loss: 0.5920 - accuracy: 0.7062
Epoch 60/100
804/804 [==============================] - 1s 808us/step - loss: 0.5920 - accuracy: 0.7066
Epoch 61/100
804/804 [==============================] - 1s 809us/step - loss: 0.5921 - accuracy: 0.7064
Epoch 62/100
804/804 [==============================] - 1s 855us/step - loss: 0.5918 - accuracy: 0.7069
Epoch 63/100
804/804 [==============================] - 1s 883us/step - loss: 0.5918 - accuracy: 0.7067
Epoch 64/100
804/804 [==============================] - 1s 792us/step - loss: 0.5919 - accuracy: 0.7067
Epoch 65/100
804/804 [==============================] - 1s 800us/step - loss: 0.5918 - accuracy: 0.7071
Epoch 66/100
804/804 [==============================] - 1s 792us/step - loss: 0.5919 - accuracy: 0.7070
Epoch 67/100
804/804 [==============================] - 1s 797us/step - loss: 0.5917 - accuracy: 0.7072
Epoch 68/100
804/804 [==============================] - 1s 799us/step - loss: 0.5917 - accuracy: 0.7061
Epoch 69/100
804/804 [==============================] - 1s 795us/step - loss: 0.5918 - accuracy: 0.7068
Epoch 70/100
804/804 [==============================] - 1s 822us/step - loss: 0.5918 - accuracy: 0.7069
Epoch 71/100
804/804 [==============================] - 1s 803us/step - loss: 0.5919 - accuracy: 0.7070
Epoch 72/100
804/804 [==============================] - 1s 812us/step - loss: 0.5917 - accuracy: 0.7070
Epoch 73/100
804/804 [==============================] - 1s 819us/step - loss: 0.5916 - accuracy: 0.7068
Epoch 74/100
804/804 [==============================] - 1s 813us/step - loss: 0.5917 - accuracy: 0.7069
Epoch 75/100
804/804 [==============================] - 1s 822us/step - loss: 0.5917 - accuracy: 0.7068
Epoch 76/100
804/804 [==============================] - 1s 798us/step - loss: 0.5918 - accuracy: 0.7075
Epoch 77/100
804/804 [==============================] - 1s 807us/step - loss: 0.5916 - accuracy: 0.7071
Epoch 78/100
804/804 [==============================] - 1s 807us/step - loss: 0.5915 - accuracy: 0.7071
Epoch 79/100

804/804 [==============================] - 1s 821us/step - loss: 0.5916 - accuracy: 0.7072
Epoch 80/100
804/804 [==============================] - 1s 808us/step - loss: 0.5916 - accuracy: 0.7072
Epoch 81/100
804/804 [==============================] - 1s 795us/step - loss: 0.5912 - accuracy: 0.7077
Epoch 82/100
804/804 [==============================] - 1s 822us/step - loss: 0.5917 - accuracy: 0.7072
Epoch 83/100
804/804 [==============================] - 1s 786us/step - loss: 0.5915 - accuracy: 0.7070
Epoch 84/100
804/804 [==============================] - 1s 785us/step - loss: 0.5915 - accuracy: 0.7072
Epoch 85/100
804/804 [==============================] - 1s 821us/step - loss: 0.5915 - accuracy: 0.7074
Epoch 86/100
804/804 [==============================] - 1s 798us/step - loss: 0.5915 - accuracy: 0.7072
Epoch 87/100
804/804 [==============================] - 1s 816us/step - loss: 0.5915 - accuracy: 0.7071
Epoch 88/100
804/804 [==============================] - 1s 808us/step - loss: 0.5916 - accuracy: 0.7069
Epoch 89/100
804/804 [==============================] - 1s 785us/step - loss: 0.5913 - accuracy: 0.7074
Epoch 90/100
804/804 [==============================] - 1s 802us/step - loss: 0.5915 - accuracy: 0.7069
Epoch 91/100
804/804 [==============================] - 1s 814us/step - loss: 0.5915 - accuracy: 0.7068
Epoch 92/100
804/804 [==============================] - 1s 782us/step - loss: 0.5914 - accuracy: 0.7073
Epoch 93/100
804/804 [==============================] - 1s 838us/step - loss: 0.5915 - accuracy: 0.7077
Epoch 94/100
804/804 [==============================] - 1s 806us/step - loss: 0.5915 - accuracy: 0.7075
Epoch 95/100
804/804 [==============================] - 1s 792us/step - loss: 0.5915 - accuracy: 0.7071
Epoch 96/100
804/804 [==============================] - 1s 790us/step - loss: 0.5914 - accuracy: 0.7067
Epoch 97/100
804/804 [==============================] - 1s 818us/step - loss: 0.5915 - accuracy: 0.7068
Epoch 98/100
804/804 [==============================] - 1s 817us/step - loss: 0.5914 - accuracy: 0.7068
Epoch 99/100
804/804 [==============================] - 1s 859us/step - loss: 0.5914 - accuracy: 0.7073
Epoch 100/100
804/804 [==============================] - 1s 945us/step - loss: 0.5914 - accuracy: 0.7072

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6082 - accuracy: 0.6964 - 291ms/epoch - 1ms/step
Loss: 0.6082445383071899, Accuracy: 0.6964431405067444

In [29]:
# Export our model to HDF5 file
nn.save_weights("AlphabetSoupCharity.h5")